<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/searchbox.css">
    <link rel="stylesheet" href="~/Content/searchbox.css">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="width:100%">

                    <!--<li>@Html.ActionLink("Home", "Index", "Home")</li>-->
                    @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    <li>@Html.ActionLink("All GPU", "GPU", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            GPU Trademarks
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("NVIDIA", "NVIDIA", "Home")</li>
                            <li>@Html.ActionLink("AMD", "AMD", "Home")</li>
                        </ul>

                    </li>
                    <li>@Html.ActionLink("Find", "Find", "Home")</li>
                    <li>@Html.ActionLink("Users","Index","User")</li>
                    <li>@Html.ActionLink("Category", "category", "Category")</li>
                    <li>@Html.ActionLink("Add GPU","addGpu","Home")</li>
                    <li style="float:right">@Html.ActionLink("Login", "Login", "Home")</li>
                    <li style="float:right">@Html.ActionLink("Register", "Register", "Home")</li>
                    <li style="float:right">@Html.ActionLink("Profile", "Profile", "Home")</li>  
                    
                    
                </ul>

            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
