@using deneme.Models.Entity

@model List<gpu_table>
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>

    <style>
        th {
            text-align: center;
        }

        td {
            text-align: center;
        }

        text {
            text-align: center;
        }

        .btn {
            background-color: #6d6d6d;
        }

            .btn:hover {
                background-color: #a9a9a9;
            }
    </style>
</head>

<body>
    <table class="table table-striped">
        <tr>
            <th>GPU ID</th>
            <th>GPU Adı</th>
            <th>GPU Category</th>
            <th>GPU Core Clock</th>
            <th>GPU Memory Clock</th>
            <th>GPU Max Memory</th>
            <th>GPU Price</th>
            <th>GPU G3D Mark</th>
            <th>ADD TO COMPARE</th>
            <th></th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var ktgr in Model)
            {
            <tr>
                <th>@ktgr.GPUID</th>
                <td>@ktgr.GPUNAME</td>
                <td>
                    @if (@ktgr.GPUCATEGORY == 1)
                    {
                        <div style="background-color: forestgreen; ">
                            <text style="color:white">NVIDIA</text>
                        </div>

                    }
                    else
                    {
                        <div style="background-color:maroon;">
                            <text style="color:white">AMD</text>
                        </div>
                    }
                </td>
                <td>@ktgr.GPUCORECLOCK</td>
                <td>@ktgr.GPUMEMORYCLOCK</td>
                <td>@ktgr.GPUMAXMEMORY</td>
                <td>@ktgr.GPUPRICE</td>
                <td>@ktgr.GPUG3D</td>
                <td hidden>@ktgr.GPUID</td>
                <td><input id="responsable" type="checkbox" name="@ktgr.GPUID" value="@ktgr.GPUID" onclick="myFunction()"></td>
                <td><a href="/Home/Delete/@ktgr.GPUID" class="btn hover"><text style="color:red">Delete</text></a> </td>
                <td><a href="/Home/Update/@ktgr.GPUID" class="btn hover"><text style="color:greenyellow">Update</text></a> </td>
            </tr>
            }
        </tbody>
    </table>
    <input type="checkbox" id="myCheck" onclick="myFunction()">
    <p id="text" style="display:none">Checkbox is CHECKED!</p>
    <button type="button" class="btn" style="color:snow" data-toggle="modal" data-target="#Modal1">
        GPU Compare
    </button>
    <div class="modal" id="Modal1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">GPU Compare</h2>
                </div>
                <form>
                    <div class="modal-body">
                        @* inside popup body *@
                        <table class="table table-striped">
                            <tr>                               
                                <th>GPU Adı</th>
                                <th>GPU Category</th>
                                <th>GPU Core Clock</th>
                                <th>GPU Memory Clock</th>
                                <th>GPU Max Memory</th>
                                <th>GPU Price</th>
                                <th>GPU G3D Mark</th>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>

    @*<script>
        function myFunction() {
            // Get the checkbox
            var checkBox = document.getElementById("myCheck");
            // Get the output text
            var text = document.getElementById("text");

            // If the checkbox is checked, display the output text
            if (checkBox.checked == true) {
                text.style.display = "block";
            } else {
                text.style.display = "none";
            }
        }
    </script>*@
</body>